.venture-list-row {
  //display: flex;
  width: 100%;
  padding: 0.3em;
  border: 2px solid var(--button-border-color);
  border-radius: 3px;
  min-height: 1.4em;
  font-size: 9pt;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.row-title {
  width: 100%;
  height: 100%;
  margin-left: 1em;
  text-align: left;
  pointer-events: none;
  font-weight: bold;
}

.mastery {
  font-weight: bold;
  font-size: 15pt;
}

.venture-locked-requirements {
  width: 100%;
  height: 100%;
  margin: 0.3em;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
  color: red;
}

.venture-progress-bar-outer {
  background-color: var(--background-color-secondary);
  border: 1px solid var(--button-border-color);
  padding: 1px;
  margin: 0.8em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;

}

.venture-progress-bar-inner {
  background-color: var(--accent-color);
  height: 0.7em;
}

.xp-bar-outer {
  background-color: var(--background-color-secondary);
  border-radius: 3px;
  padding: 0px;
  margin: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}

.xp-bar-inner {
  background-color: var(--accent-color);
  height: 0.3em;
  border-radius: 3px;
}

.active {
  border: 4px solid var(--button-border-color-active);
}
