.region-status-item{
  padding: 0.5em;
  font-weight: bold;
}



.location-columns{
  margin: 0.5em;
}

.location-column{
  margin-right: 0.5em;
}

.local-currencies{
  border-right: 1px solid var(--separator-color);
}

.local-ventures{
  margin-right: 1em;
  align-content: flex-start;
}

.currency{
  margin-bottom: 0.3em;
  justify-content: space-between;
}

.venture{
  margin: 0.6em;
  width: 100%;
}

.venture-button{
  height: 40px;
}

.venture-left{
  margin-right: 1em;
  text-align: right;
  font-weight: bold;
}

.rating-text {
  text-transform: capitalize;
  font-weight: bold;
}


