<div fxLayout="column" class="game-section">
  <div fxLayout="row" class="region-status">
    <div fxFlex="33" fxLayout="column" class="region-status-item" *ngFor="let rating of getRatings()">
      <div fxFlex="90" fxLayout="row" class="rating-text">
        <div fxFlex="90">{{rating.name}}</div>
        <div fxFlex="10">{{rating.rank}}</div>
      </div>
      <progress-bar [value]="rating.progress" [max]="rating.progressMax"></progress-bar>
    </div>
  </div>
  <div fxLayout="row" class="region-tabs">
    <div fxFlex="33" class="region-tabs-button">
      <game-button>Tasks</game-button>
    </div>
    <div fxFlex="33" class="region-tabs-button">
      <game-button>Shop</game-button>
    </div>
    <div fxFlex="33" class="region-tabs-button">
      <game-button>Buildings</game-button>
    </div>
  </div>
  <div fxFlex="grow" fxLayout="row" class="location-columns">
    <div fxFlex="grow" fxLayout="column" class="local-ventures">
      <div class="venture" *ngFor="let venture of getVentures()">
        <venture-list-row (click)="selectVenture(venture)" [venture]="venture"></venture-list-row>
      </div>
    </div>
    <div fxFlex="30" fxLayout="column" class="local-actions">
      <div class="venture" fxLayout="column" *ngFor="let venture of getTasks()">
        <div class="venture-button">
          <game-button (click)="selectTask(venture)">{{venture.name}}</game-button>
        </div>
      </div>
    </div>
  </div>

</div>
