<div fxLayout="column" class="game-section">
  <div fxLayout="row" class="region-status">
    <div fxFlex="33" fxLayout="column" class="region-status-item" *ngFor="let rating of getRatings()">
      <div fxFlex="90" fxLayout="row" class="rating-text">
        <div fxFlex="90">{{rating.name}}</div>
        <div fxFlex="10">{{rating.rank}}</div>
      </div>
      <progress-bar [value]="rating.progress" [max]="rating.progressMax"></progress-bar>
    </div>
  </div>
  <div fxFlex="grow" fxLayout="row" class="location-columns">
    <div fxFlex="15" fxLayout="column" class="location-column local-currencies">
      Currencies
      <div class="currency" fxLayout="row" *ngFor="let currency of getCurrencies()">
        <div class="currency-name">{{currency.displayName}}</div>
        <div class="currency-value">{{currency.amount}}/{{currency.maxAmount}}</div>
      </div>
    </div>
    <div fxFlex="30" fxLayout="column" class="local-actions">
      Actions
    </div>
    <div fxFlex="grow" fxLayout="column" class="local-ventures">
      Ventures
      <div class="venture" fxLayout="row" *ngFor="let venture of getVentures()">
        <div fxFlex="30" fxLayout="row" class="venture-left">
          <game-button fxFlex="60" (click)="selectVenture(venture)">{{venture.name}}</game-button>
          <div fxFlex="40">{{venture.mastery}}</div>
        </div>
        <div fxFlex="70" class="venture-right" fxLayout="column">
          <div>{{getEncounterDesc(venture.encounterName)}}</div>
          <progress-bar [value]="venture.progress" [max]="venture.progressMax"></progress-bar>
          <progress-bar [value]="venture.masteryProgress" [max]="5"></progress-bar>
        </div>
      </div>
    </div>
  </div>

</div>
