<div class="game-section">
  <div class="local-ventures">
    <div class="venture" fxLayout="row" *ngFor="let venture of getVentures()">
      <div fxFlex="30"></div>
      <div fxFlex="30" fxLayout="row" class="venture-left">
        <game-button fxFlex="60" (click)="selectVenture(venture)">{{venture.name}}</game-button>
        <div fxFlex="40">{{venture.completions}}</div>
      </div>
      <div fxFlex="70" class="venture-right" fxLayout="column">
        <div>{{venture.encounterName}}</div>
        <progress-bar [value]="venture.progress" [max]="venture.progressMax"></progress-bar>
      </div>
    </div>
  </div>
</div>
