.layout-container{
  height: 100%;
}

.layout-header{
  background-color: rgb(224, 224, 224);
  border-bottom: 1px solid darkgray;
  font-size: 9pt;
  font-style: italic;
}

.layout-top{
  border-bottom: 1px solid darkgray;
}

.layout-center{
  border-bottom: 1px solid darkgray;
}

.layout-bottom{

}

.layout-left-bottom{
  border-right: 1px solid darkgray;
}

.layout-right-bottom{

}
