.layout-container{
  height: 100%;
}

.layout-header{
  background-color: var(--background-color-secondary);
  border-bottom: 1px solid var(--separator-color);
  font-size: 9pt;
  font-style: italic;
}

.layout-top{
  border-bottom: 1px solid var(--separator-color);
}

.layout-center{
  border-bottom: 1px solid var(--separator-color);
}

.layout-bottom{

}

.layout-left-bottom{
  border-right: 1px solid var(--separator-color);
}

.layout-right-bottom{

}
