.layout-container{
  height: 100%;
}

.layout-top{
  border-bottom: 1px solid darkgray;
}

.layout-center{
  border-bottom: 1px solid darkgray;
}

.layout-bottom{

}

.layout-left-bottom{
  border-right: 1px solid darkgray;
}

.layout-right-bottom{

}
