<div fxLayout="column" class="layout-container">
  <div fxFlex="4" class="layout-top">
    Character Sheet Idle 0.1 --- Work in progress
  </div>
  <div fxFlex="70" class="layout-center">
    <div fxFlex="80" class="layout-center-left">
      <app-location-panel></app-location-panel>
    </div>
    <div fxFlex="20" class="layout-center-right">
      <app-skill-panel></app-skill-panel>
    </div>
  </div>
  <div fxFlex="26" fxLayout="row" class="layout-bottom">
    <div fxFlex="60" class="layout-left-bottom">
      <app-character-panel></app-character-panel>
    </div>
    <div fxFlex="40" class="layout-right-bottom">
      <app-message-panel></app-message-panel>
    </div>
  </div>
</div>
