.reroll-panel{
  border-right: 1px solid darkgray;
  padding-left: 30px;
  padding-right: 30px;
}

.character-sheet-left{
  padding-left: 15px;
  padding-right: 30px;
}

.character-sheet-right{
  margin: 1.5em;
  padding-left: 15px;
  padding-right: 30px;
  //border-left: 1px solid darkgray;
}
