.bar-outer {
  background-color: var(--background-color-secondary);
  border-radius: 3px;
  padding: 0px;
}

.bar-inner {
  background-color: var(--accent-color);
  height: 0.3em;
  border-radius: 3px;
}
